/*====================================
=            Basic Styles            =
====================================*/

  //сброс стилей для кнопок форм
[role="button"], input[type="submit"], input[type="reset"], input[type="button"], button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


/* Reset `button` and button-style `input` default styles */

input[type="submit"], input[type="reset"], input[type="button"], button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  font-family: $basic-font;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 1366px;
}
//center wrappers

.wrapper-wide {
  max-width: 1172px;
  margin: 0 auto;
  @include scut-clearfix;
}

.wrapper-narrow {
  max-width: 1030px;
  margin: 0 auto;
  @include scut-clearfix;
}
.wrapper-tiny {
  max-width: 968px;
  margin: 0 auto;
  @include scut-clearfix;
}

a {
  text-decoration: none;
}

%basic-title-style {
  font-weight: 300;
  letter-spacing: 0.275em; 
  text-transform: uppercase;
  color: $color-basic-title;
  font-size: 26px;
  line-height: 1;
  word-spacing: 0.45em;
  & span {
    margin-left: 0.4em;
  }
}
%basic-subhead-style {
  font-weight: 300;
  letter-spacing: 0.06em; //tracking 60
  line-height: 1;
  color: $color-basic-text;
  font-size: 17px;
  line-height:(26/17);
}

//анимация для иконок [benefit__icon.icon-...] и portfolio__filterlabel
  @keyframes shake {
      0% {
        transform: translate(3px, 0);
      }
      50% {
        transform: translate(-3px, 0);
      }
      100% {
        transform: translate(0, 0);
      }
    }

/*=====  End of Basic Styles  ======*/

