$browser-context: 16; // Default

//bg-colors
$basic-yellow: #ffde00;
$bg-navigation: #2a2a2a;
$color-navigation: #828282;
$article-text: #bababa;
$article-link-border: #a7a7a7;


//fonts
$font-family-logo: "la_chatte_a_mamanregular", serif;
$basic-font: 'Open Sans', sans-serif;
$additional-font: 'Raleway', sans-serif;

