$browser-context: 16; // Default

//bg-colors
$basic-yellow: #ffde00;
$bg-navigation: #2a2a2a;
$color-navigation: #828282;
$article-text: #bababa;
$article-link-border: #a7a7a7;
$color-basic-title: #909090;
$color-basic-text: #767676;
$bg-dirty-white: #f8f8f8;
$bg-light-grey: #f1f1f1;
$color-benefit-title-dark: #343434;
$color-benefit-desc-dark: #343434;


//fonts
$font-family-logo: "la_chatte_a_mamanregular", serif;
$basic-font: 'Open Sans', sans-serif;
$additional-font: 'Raleway', sans-serif;

