/*==========================================
=            About block styles            =
==========================================*/
.about {
  padding-top: 52px; 
  
   background: $bg-dirty-white;
}
.about__header {
  padding-bottom: 41px;
  text-align: center;
}
.about__img {
  margin-bottom: 100px;
}
.about__title {
  @extend %basic-title-style;
  margin-bottom: 43px;

}
.about__subhead {
  @extend %basic-subhead-style;
  margin: 0;
}
.about__body {
  padding: 66px 0 91px;
  background:$bg-light-grey;
  @include scut-clearfix;
}

@import 'benefit.scss';

/*=====  End of About block styles  ======*/


